footer {
  padding: 5rem 0;
  background: $black;
  color: $white;
  font-size: 1.4rem;
  text-align: center;
  i {
    color: $white;
    padding: 0.5rem;
    background: $blue-h;
    clip-path: circle();
    margin-bottom: 2rem;
    animation: arrow 0.8s infinite alternate;
    transition: 0.3s;
    &:hover {
      background: $blue-m;
    }
  }
  a.link-footer {
    color: $white;
    font-weight: 700;
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1rem);
  }
}
